<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<div id="sse">
    <a href="javascript:WebSocketTest()">运行 WebSocket</a>
    <div id="demaxiya">

    </div>
</div>
</body>
<script>


    function WebSocketTest() {
//        var roomName = {{ room_name_json }};
        var socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + 'lol' + '/');

        socket.onerror = function (event) {
            console.log(event.data);
        };
        //处理服务器返回的消息
        socket.onmessage = function (event) {
            document.getElementById("demaxiya").innerHTML += '<br />' + event.data;
        }
        //与websocket建立连接
        socket.onopen = function() {
        //socket.send("hello world");
        console.log("start connecting")
        socket.send("demaxiya")
        }
        socket.onclose = function () {
            console.log("closed")
        }
    }
</script>
</html>
